<main class="historia-container">

  <!-- Banner principal -->
  <div class="banner">
    <div class="banner-overlay">
      <h1 class="title">Historia</h1>
      <h3 class="subtitle">Conoce la historia de la Agrupación Musical Muchachos de Consolación</h3>
    </div>
</div>
<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
  <path fill="#fff" fill-opacity="1" d="M0,64L48,69.3C96,75,192,85,288,112C384,139,480,181,576,186.7C672,192,768,160,864,138.7C960,117,1056,107,1152,101.3C1248,96,1344,96,1392,96L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
</svg>

  <!-- Contenido principal -->
  <div class="content fade-in">
    <p>
      La <strong>Agrupación Musical Muchachos de Consolación</strong>, nace en 1960 bajo el seno de la Hermandad de los Muchachos de Consolación en Utrera.
    </p>
    <p>
      Es considerada como la Agrupación Musical más antigua de la Comunidad Andaluza con sus <strong>59 años de historia</strong>.
    </p>
    <p>
      En <strong>1982</strong> fue Disco de Platino otorgado por la Cadena Ser de Sevilla. Hermanos Honorarios de la Hermandad de la Aurora (Los Gitanos) en el Albaicín de Granada y de la Hermandad de los Escolapios de Granada.
    </p>
    <p>
      En sus comienzos su estilo fue el de Cornetas y Tambores, llegando a formar incluso a los músicos de la extinta Banda de la Guardia Civil de Ermitaña (Sevilla). El cambio de estilo musical se da a principios del año <strong>1980</strong> y permanece en el mismo hasta nuestros días.
    </p>
    <p>
      Han llevado sus sones musicales a través de numerosos pueblos y ciudades de nuestra comunidad andaluza y fuera de ella. Todo su repertorio fue actualizado y rearmonizado el estilo en <strong>2010</strong> tras el nombramiento como Director Musical a Emilio Muñoz Serna, que igualmente ejerce esta función en la Agrupación Musical de Nuestro Padre Jesús de la Redención de Sevilla.
    </p>
    <p>
      Desde <strong>2016</strong>, la Agrupación Musical cuenta además con una sección de metales que nace con el objetivo de amenizar los actos de culto interno de las hermandades, así como viacrucis o traslados, constituyendo con la Parroquia de Santiago el mayor, las Luminarias y Ministriles en honor al patrón de España.
    </p>
    <p> A partir de <strong>2019</strong> se pone en manos de Vicente Moreno Albadalejo la asesoría musical de la banda, pero con la pandemía sufrida en estos años lamentablemente no se pudo avanzar hasta que las normas de sanidad lo permitiesen.</p>
  </div>

  <!-- Segunda sección con imagen y texto -->
  <div class="section fade-in">
    <div class="section-content">
      <div class="section-text">
        <h1 class="title">Actualidad</h1>
        <hr>
        <p>En la actualidad, tenemos como director musical a don Gabriel Gómez Delgado compositor de marchas como, <strong>“Divina Clemencia de Jesús”, ”Salud y Humildad”</strong> y con la famosa adaptación de <strong>"Madrugá Nazarena"</strong> de Manuel Cano García, además de la marcha ordinaria <strong>“Suenan los Muchachos”</strong>entre otras.</p>
        <p> Y como asesor musical al gran Antonio Miguel García Bernárdez, exdirector de la Agrupación Musical Nuestra Señora de la Estrella de Dos Hermanas el cuál es reconocido por marchas como, <strong>”En tu mirada”, “Mujer Verónica”</strong> y su último gran estreno<strong>“Y se hizo Luz”</strong> dedicada a la Asociación Parroquial de Ntro. Padre Jesús Resucitado y María Santísima de la Estrella de Utrera.</p>
      </div>
      <div class="section-image">
        <img src="assets/img/fondos/historia.jpg" alt="Segunda imagen">
      </div>
    </div>
  </div>

</main>
