<div class="px-md-4">

  <!-- Tabla de Noticias -->
  <div class="mt-3">
    <div class="d-flex align-items-center justify-content-between">
      <h2>Listado de Noticias</h2>
      <button class="btn btn-dark fw-bolder" (click)="showCreateNoticiaModal = true">NUEVA NOTICIA</button>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Subtítulo</th>
          <th>Imagen</th>
          <th>Texto</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let noticia of noticias">
          <td>{{ noticia.titulo }}</td>
          <td>{{ noticia.subtitulo }}</td>
          <td><img [src]="noticia.imagenURL" alt="Imagen" width="80" /></td>
          <td>{{ noticia.texto }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteNoticia(noticia.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tabla de Marchas -->
  <div class="mt-3">
    <div class="d-flex align-items-center justify-content-between">
      <h2>Listado de Marchas</h2>
      <button class="btn btn-dark fw-bolder" (click)="showCreateMarchaModal = true">NUEVA MARCHA</button>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>Código Repertorio</th>
          <th>Duración</th>
          <th>Enlace</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marcha of marchas">
          <td>{{ marcha.titulo }}</td>
          <td>{{ marcha.autor }}</td>
          <td>{{ marcha.codigoRepertorio }}</td>
          <td>{{ formatISODuration(marcha.duracion?.toString() || 'PT0S') }}</td>
          <td>
            <a *ngIf="marcha.enlace" [href]="marcha.enlace" target="_blank">Ver enlace</a>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteMarcha(marcha.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tabla de Agendas -->
  <div class="mt-3">
    <div class="d-flex align-items-center justify-content-between">
      <h2>Listado de Agendas</h2>
      <button class="btn btn-dark fw-bolder" (click)="showCreateAgendaModal = true">NUEVA AGENDA</button>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Mapa / Enlace</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agenda of agendas">
          <td>{{ agenda.titulo }}</td>
          <td>{{ agenda.texto }}</td>
          <td>{{ agenda.fechaActuacion | date:'dd/MM/yyyy' }}</td>
          <td>
            <a *ngIf="agenda.lugar" [href]="agenda.lugar" target="_blank">Ver mapa</a>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteAgenda(agenda.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Tabla de Semana Santa -->
  <div class="mt-3">
    <div class="d-flex align-items-center justify-content-between">
      <h2>Semana Santa</h2>
      <button class="btn btn-dark fw-bolder" (click)="showCreateSemanaSantaModal = true">NUEVO EVENTO</button>
    </div>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Subtítulo</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Ubicación</th>
          <th>Mapa</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of semanaSanta">
          <td>{{ evento.titulo }}</td>
          <td>{{ evento.subtitulo }}</td>
          <td>{{ evento.diaActuacion | date:'dd/MM/yyyy' }}</td>
          <td>{{ evento.horaEvento }}</td>
          <td>{{ evento.ubicacion }}</td>
          <td>
            <a *ngIf="evento.mapaURL" [href]="evento.mapaURL" target="_blank">Ver mapa</a>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="deleteSemanaSanta(evento.id!)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<!-- Modal Crear Marcha -->
<div class="modal fade" tabindex="-1" [class.show]="showCreateMarchaModal" [style.display]="showCreateMarchaModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir marcha</h5>
        <button type="button" class="btn-close" (click)="showCreateMarchaModal = false"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="marchaForm" (ngSubmit)="onSubmitMarcha()">

          <!-- Título -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="titulo" class="form-control" placeholder="Título" />
            <label>Título</label>
                        <div class="text-danger mt-1" *ngIf="marchaForm.get('titulo')?.errors && marchaForm.get('titulo')?.touched">
                        <span *ngIf="marchaForm.get('titulo')?.errors?.['required']">El título es obligatorio.</span>
                        <span *ngIf="marchaForm.get('titulo')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
                      </div>
          </div>

                    <!-- Autor -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="autor" class="form-control" placeholder="Autor" />
            <label>Autor</label>
                        <div class="text-danger mt-1" *ngIf="marchaForm.get('autor')?.errors && marchaForm.get('autor')?.touched">
              <span *ngIf="marchaForm.get('autor')?.errors?.['required']">El autor es obligatorio.</span>
              <span *ngIf="marchaForm.get('autor')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Código Repertorio -->
          <div class="form-floating mt-2">
            <select formControlName="codigoRepertorio" class="form-select">
              <option value="" disabled selected>Selecciona un código</option>
              <option value="PROCESIONAL">PROCESIONAL</option>
              <option value="ORDINARIO">ORDINARIO</option>
              <option value="JUVENIL">JUVENIL</option>
            </select>
            <label>Código Repertorio</label>
            <div class="text-danger mt-1" *ngIf="marchaForm.get('codigoRepertorio')?.errors && marchaForm.get('codigoRepertorio')?.touched">
              <span *ngIf="marchaForm.get('codigoRepertorio')?.errors?.['required']">El código de repertorio es obligatorio.</span>
            </div>
          </div>


          <!-- Duración -->
          <div class="form-floating mt-2">
            <input type="number" formControlName="duracion" class="form-control" placeholder="Duración " />
            <label>Duración en segundos</label>
                        <div class="text-danger mt-1" *ngIf="marchaForm.get('duracion')?.errors && marchaForm.get('duracion')?.touched">
              <span *ngIf="marchaForm.get('duracion')?.errors?.['required']">La duración es obligatoria.</span>
            </div>
          </div>

          <!-- Enlace -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="enlace" class="form-control" placeholder="Enlace" />
            <label>Enlace</label>
                        <div class="text-danger mt-1" *ngIf="marchaForm.get('enlace')?.errors && marchaForm.get('enlace')?.touched">
              <span *ngIf="marchaForm.get('enlace')?.errors?.['required']">El enlace es obligatorio.</span>
              <span *ngIf="marchaForm.get('enlace')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <button type="submit" class="btn btn-dark mt-4 w-100 py-2">Guardar marcha</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show" *ngIf="showCreateMarchaModal"></div>


<!-- Modal Crear Noticia -->
<div class="modal fade" tabindex="-1" [class.show]="showCreateNoticiaModal" [style.display]="showCreateNoticiaModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir noticia</h5>
        <button type="button" class="btn-close" (click)="showCreateNoticiaModal = false"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="noticiaForm" (ngSubmit)="onSubmitNoticia()">
          <!-- Título -->
          <div class="form-floating mt-2">
            <input
              type="text"
              formControlName="titulo"
              class="form-control"
              id="floatingTitulo"
              placeholder="Título de la noticia"
            />
            <label for="floatingTitulo">Título</label>
            <div class="text-danger mt-1" *ngIf="noticiaForm.get('titulo')?.errors">
              <span *ngIf="noticiaForm.get('titulo')?.errors?.['required']">El título es obligatorio.</span>
              <span *ngIf="noticiaForm.get('titulo')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Subtítulo -->
          <div class="form-floating mt-2">
            <input
              type="text"
              formControlName="subtitulo"
              class="form-control"
              id="floatingSubtitulo"
              placeholder="Subtítulo"
            />
            <label for="floatingSubtitulo">Subtítulo</label>
            <div class="text-danger mt-1" *ngIf="noticiaForm.get('subtitulo')?.errors">
              <span *ngIf="noticiaForm.get('subtitulo')?.errors?.['required']">El subtítulo es obligatorio.</span>
              <span *ngIf="noticiaForm.get('subtitulo')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Imagen URL -->
          <div class="form-floating mt-2">
            <input
              type="text"
              formControlName="imagenURL"
              class="form-control"
              id="floatingImagen"
              placeholder="URL de la imagen"
            />
            <label for="floatingImagen">Imagen URL</label>
            <div class="text-danger mt-1" *ngIf="noticiaForm.get('imagenURL')?.errors">
              <span *ngIf="noticiaForm.get('imagenURL')?.errors?.['required']">La URL de la imagen es obligatoria.</span>
              <span *ngIf="noticiaForm.get('imagenURL')?.errors?.['maxlength']">Máximo 200 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Texto -->
          <div class="form-floating mt-2">
            <textarea
              formControlName="texto"
              class="form-control"
              placeholder="Texto de la noticia"
              style="height: 150px"
            ></textarea>
            <label for="floatingTexto">Texto</label>
            <div class="text-danger mt-1" *ngIf="noticiaForm.get('texto')?.errors">
              <span *ngIf="noticiaForm.get('texto')?.errors?.['required']">El texto es obligatorio.</span>
              <span *ngIf="noticiaForm.get('texto')?.errors?.['maxlength']">Máximo 4000 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Botón enviar -->
          <button type="submit" class="btn btn-dark mt-4 w-100 py-2">Guardar noticia</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Crear Agenda -->
<div class="modal fade" tabindex="-1" [class.show]="showCreateAgendaModal" [style.display]="showCreateAgendaModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir Agenda</h5>
        <button type="button" class="btn-close" (click)="showCreateAgendaModal = false"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="agendaForm" (ngSubmit)="onSubmitAgenda()">
          
          <!-- Título -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="titulo" class="form-control" placeholder="Título" />
            <label>Título</label>
            <div class="text-danger mt-1" *ngIf="agendaForm.get('titulo')?.errors && agendaForm.get('titulo')?.touched">
              <span *ngIf="agendaForm.get('titulo')?.errors?.['required']">El título es obligatorio.</span>
              <span *ngIf="agendaForm.get('titulo')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Subtítulo -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="subtitulo" class="form-control" placeholder="Subtítulo" />
            <label>Subtítulo</label>
            <div class="text-danger mt-1" *ngIf="agendaForm.get('subtitulo')?.errors && agendaForm.get('subtitulo')?.touched">
              <span *ngIf="agendaForm.get('subtitulo')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Imagen URL -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="imagenURL" class="form-control" placeholder="URL de la imagen" />
            <label>Imagen URL</label>
            <div class="text-danger mt-1" *ngIf="agendaForm.get('imagenURL')?.errors && agendaForm.get('imagenURL')?.touched">
              <span *ngIf="agendaForm.get('imagenURL')?.errors?.['maxlength']">Máximo 200 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Lugar -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="lugar" class="form-control" placeholder="Lugar o enlace" />
            <label>Lugar / Mapa URL</label>
            <div class="text-danger mt-1" *ngIf="agendaForm.get('lugar')?.errors && agendaForm.get('lugar')?.touched">
              <span *ngIf="agendaForm.get('lugar')?.errors?.['maxlength']">Máximo 300 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Texto -->
          <div class="form-floating mt-2">
            <textarea formControlName="texto" class="form-control" placeholder="Descripción" style="height: 120px"></textarea>
            <label>Descripción</label>
            <div class="text-danger mt-1" *ngIf="agendaForm.get('texto')?.errors && agendaForm.get('texto')?.touched">
              <span *ngIf="agendaForm.get('texto')?.errors?.['maxlength']">Máximo 2000 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Fecha y hora -->
          <div class="row mt-2">
            <div class="col">
              <label>Fecha del evento</label>
              <input type="date" formControlName="fechaActuacion" class="form-control" />
            </div>
            <div class="col">
              <label>Hora del evento</label>
              <input type="time" formControlName="horaEvento" class="form-control" />
            </div>
          </div>

          <button type="submit" class="btn btn-dark mt-4 w-100 py-2">Guardar Agenda</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="showCreateAgendaModal"></div>

<!-- Modal Crear Semana Santa -->
<div class="modal fade" tabindex="-1" [class.show]="showCreateSemanaSantaModal" [style.display]="showCreateSemanaSantaModal ? 'block' : 'none'">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir Evento Semana Santa</h5>
        <button type="button" class="btn-close" (click)="showCreateSemanaSantaModal = false"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="semanaSantaForm" (ngSubmit)="onSubmitSemanaSanta()">
          
          <!-- Título -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="titulo" class="form-control" placeholder="Título" />
            <label>Título</label>
            <div class="text-danger mt-1" *ngIf="semanaSantaForm.get('titulo')?.errors && semanaSantaForm.get('titulo')?.touched">
              <span *ngIf="semanaSantaForm.get('titulo')?.errors?.['required']">El título es obligatorio.</span>
              <span *ngIf="semanaSantaForm.get('titulo')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Subtítulo -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="subtitulo" class="form-control" placeholder="Subtítulo" />
            <label>Subtítulo</label>
            <div class="text-danger mt-1" *ngIf="semanaSantaForm.get('subtitulo')?.errors && semanaSantaForm.get('subtitulo')?.touched">
              <span *ngIf="semanaSantaForm.get('subtitulo')?.errors?.['maxlength']">Máximo 225 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Ubicación -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="ubicacion" class="form-control" placeholder="Ubicación" />
            <label>Ubicación</label>
            <div class="text-danger mt-1" *ngIf="semanaSantaForm.get('ubicacion')?.errors && semanaSantaForm.get('ubicacion')?.touched">
              <span *ngIf="semanaSantaForm.get('ubicacion')?.errors?.['maxlength']">Máximo 300 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Mapa URL -->
          <div class="form-floating mt-2">
            <input type="text" formControlName="mapaURL" class="form-control" placeholder="Mapa URL" />
            <label>Mapa URL</label>
            <div class="text-danger mt-1" *ngIf="semanaSantaForm.get('mapaURL')?.errors && semanaSantaForm.get('mapaURL')?.touched">
              <span *ngIf="semanaSantaForm.get('mapaURL')?.errors?.['maxlength']">Máximo 300 caracteres permitidos.</span>
            </div>
          </div>

          <!-- Fecha y hora -->
          <div class="row mt-2">
            <div class="col">
              <label>Fecha del evento</label>
              <input type="date" formControlName="diaActuacion" class="form-control" />
            </div>
            <div class="col">
              <label>Hora del evento</label>
              <input type="time" formControlName="horaEvento" class="form-control" />
            </div>
          </div>

          <!-- Texto opcional -->
          <div class="form-floating mt-2">
            <textarea formControlName="texto" class="form-control" placeholder="Descripción" style="height: 120px"></textarea>
            <label>Descripción</label>
          </div>

          <button type="submit" class="btn btn-dark mt-4 w-100 py-2">Guardar Evento</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="showCreateSemanaSantaModal"></div>





<!-- Fondo modal -->
<div class="modal-backdrop fade show" *ngIf="showCreateNoticiaModal"></div>
<div class="modal-backdrop fade show" *ngIf="showCreateMarchaModal"></div>
<div class="modal-backdrop fade show" *ngIf="showCreateAgendaModal"></div>
<div class="modal-backdrop fade show" *ngIf="showCreateSemanaSantaModal"></div>

<!-- Modal Confirmación -->
<div class="modal fade show" tabindex="-1" style="display: block;" *ngIf="showConfirmModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title">Confirmación</h5>
      </div>
      <div class="modal-body">
        <p>{{ confirmMessage }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="cancelDelete()">Cancelar</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="showConfirmModal"></div>

<!-- Modal Éxito -->
<div class="modal fade show" tabindex="-1" style="display: block;" *ngIf="showSuccessModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-success">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title">Éxito</h5>
      </div>
      <div class="modal-body">
        <p>{{ confirmMessage }}</p>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="showSuccessModal"></div>

<!-- Modal Error -->
<div class="modal fade show" tabindex="-1" style="display: block;" *ngIf="showErrorModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-danger">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">Error</h5>
      </div>
      <div class="modal-body">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="showErrorModal = false">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="showErrorModal"></div>

