<div class="px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Añadir noticia</h1>
  </div>

  <main class="form-add-news w-100">
    <form [formGroup]="noticiaForm" (ngSubmit)="onSubmitNoticia()">
      <div class="form-floating mt-3">
        <input
          type="text"
          formControlName="titulo"
          class="form-control"
          id="floatingTitulo"
          placeholder="Título de la noticia"
        />
        <label for="floatingTitulo">Título</label>
      </div>

      <div class="form-floating mt-3">
        <input
          type="text"
          formControlName="subtitulo"
          class="form-control"
          id="floatingSubtitulo"
          placeholder="Subtítulo"
        />
        <label for="floatingSubtitulo">Subtítulo</label>
      </div>

      <div class="form-floating mt-3">
        <input
          type="text"
          formControlName="imagenURL"
          class="form-control"
          id="floatingImagen"
          placeholder="URL de la imagen"
        />
        <label for="floatingImagen">Imagen URL</label>
      </div>

      <div class="form-floating mt-3">
        <textarea
          formControlName="texto"
          class="form-control"
          placeholder="Texto de la noticia"
          style="height: 150px"
        ></textarea>
        <label for="floatingTexto">Texto</label>
      </div>

      <button type="submit" class="btn btn-primary mt-4 w-100 py-2">
        Guardar noticia
      </button>
    </form>
  </main>
</div>
