<!-- HERO -->
  <section class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="display-4 fw-bold">Agrupación Musical Muchachos de Consolación</h1>
        <p class="lead">Este es el subtítulo que explica de qué va la página.</p>

      </div>
      <div class="col-md-6 text-center">
        <img src="../../../../../../assets/img/fondos/historia.jpg"alt="Imagen hero" class="img-fluid rounded">
      </div>
    </div>
  </section>

    <!-- SOBRE MUCHACHOS -->
  <section class="py-5">
    <div class="container">
      <h1 class="text-end mb-4">Conoce más sobre nosotros</h1>
      <div class="row g-4">
        <div class="col-md-4">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Historia
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Semana Santa
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Contacto
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- YOUTUBE -->
  <section class="bg-light py-5">
    <div class="container text-center">
      <h1 class="mb-4">YouTube</h1>
      <a href="https://www.youtube.com/@ammuchachosdeconsolacion" class="btn btn-black mb-3">Conoce nuestro canal de Youtube</a>
      <div class="ratio ratio-16x9">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qtOCt4RAO28?si=MLN-TRmHuUxbte6h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </section>

    <!-- SOBRE MUCHACHOS -->
  <section class="py-5">
    <div class="container">
      <h1 class="text-start mb-4">Donde escucharnos</h1>
      <div class="row g-4">
        <div class="col-md-2">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Spotify
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Apple Music
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            YouTube
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Local ensayos
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Conciertos
          </a>
        </div>
        <div class="col-md-2">
          <a href="#" class="contenedor-link rounded" style="background-image: url('../../../../../../assets/img/fondos/fondo1.jpeg');">
            Noticias
          </a>
        </div>
      </div>
    </div>
  </section>
