<main class="repertorio-container">
      <!-- Banner principal -->
  <div class="banner">
    <div class="banner-overlay">
      <h1 class="title">REPERTORIO ORDINARIO</h1>
      <h3 class="subtitle"><em>Nuestra formación trabaja también el denominado repertorio ordinario que recoge las categorías de obras de pasacalles que anteceden en ciertas ocasiones a nuestras actuaciones y un repertorio de adaptaciones para amenizar las cabalgatas de Reyes Magos en la que nuestra banda toma el sobrenombre de Los Beduinos de Consolación.
      A continuación, se detallan este repertorio en distintas categorías.</em></h3>
    </div>
  </div>

    <div class="section fade-in">
      <!-- Mostrar repertorios si existen -->
<div *ngIf="repertoriosOrdinarios && repertoriosOrdinarios.length > 0; else noRepertorios">
  <div *ngFor="let rep of repertoriosOrdinarios; let i = index" class="repertorio-item" [style.animationDelay]="i * 0.2 + 's'">
    <h3><strong>{{ rep.titulo }} </strong><em>- {{ rep.autor }}</em></h3>
    <p><strong>Duración: </strong> <em>{{ rep.duracion != null ? formatISODuration(rep.duracion.toString()) : '' }}</em></p>
    <a [href]="rep.enlace" target="_blank" class="listen-link">Escuchar ahora</a>
  </div>

</div>

      <!-- Mensaje cuando no hay repertorios -->
      <ng-template #noRepertorios>
        <p class="no-repertorios">Aún no hay repertorios disponibles.</p>
      </ng-template>
    </div>  <section class="py-5" style="background-color: #f0f0f0;">
    <div class="container">
      <h1 class="text-start mb-4">De tu interés</h1>
      <div class="row g-4">
        <div class="col-md-10">
            <button class="btn btn-black mb-3" (click)="navigateTo('/blog/noticias')">← Ir a Noticias</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-black mb-3" (click)="navigateTo('/blog/agenda')">Ir a Agenda →</button>
        </div>
      </div>
    </div>
  </section>
</main>



