<main class="historia-container">

  <!-- Banner principal -->
  <div class="banner">
    <div class="banner-overlay">
      <h1 class="title">Escudo y Uniformidad</h1>
      <h3 class="subtitle">Conoce el escudo y la uniformidad oficial de la Agrupación Musical Muchachos de Consolación</h3>
    </div>
  </div>

  <!-- Sección Escudo -->
  <div class="section fade-in">
    <div class="section-content">
      <div class="section-text">
        <h1 class="title">Escudo Corporativo</h1>
        <hr>
        <p>El escudo de de nuestra agrupación presenta una estética similar al de nuestra hermandad, conservando elementos como el <strong>anagrama de María</strong>, el <strong>escudo de la orden mínima</strong> y el <strong>anagrama del JHS</strong> que ha venido representando a la hermandad desde su fundación.</p>
        <p>Incluye el escudo de la agrupación diferenciándose del de la hermandad, la ráfaga y la corona de la <strong>Virgen de Consolación</strong>, así como el águila al pie del escudo.</p>
        <p>Todo ello cobijado por una orla con motivos vegetales y geométricos diseñada por el artista utrerano <strong>Francisco Caro</strong>.</p>
      </div>
      <div class="escudo">
        <img src="assets/img/escudo/Relieve.png" alt="Escudo" width="200" height="200">
      </div>
    </div>
  </div>

  <!-- Sección Uniformidad -->
  <div class="section fade-in">
    <div class="section-content">
      <div class="section-text">
        <h1 class="title">Uniformidad</h1>
        <hr>
        <p>El uniforme rememora la estética de los primeros años; incluye color gris marengo, trinchas y cinturón blanco, alusivos a los años 70 y 80.</p>
        <p>Se completa con gorra de plato y emblema de la agrupación, incorporando el emblema en forma de rombo con la silueta de la patrona de Utrera.</p>
      </div>
    </div>
  </div>

</main>
