
<ul class="nav nav-pills nav-flush flex-column mb-auto text-center flex-column">
  <li class="nav-item">
    <a routerLink="/admin/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Panel" data-bs-toggle="tooltip"
      data-bs-placement="right">
      <i class="bi bi-speedometer2" style="font-size:1.5rem !important"></i>
    </a>
  </li>

    <li>
    <a href="https://postimages.org/" target="_blank" class="nav-link py-3 border-bottom rounded-0" title="Subir imagen"
      data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="bi bi-image" style="font-size:1.5rem !important"></i>
    </a>
  </li>

    <li>
    <a href="https://www.omnicalculator.com/es/conversion/convertidor-de-minutos-a-segundos" target="_blank"
      class="nav-link py-3 border-bottom rounded-0" title="Conversor minutos a segundos"
      data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="bi bi-clock" style="font-size:1.5rem !important"></i>
    </a>
  </li>

  <li>
    <a (click)="logout()" class="nav-link py-3 border-bottom rounded-0" href="#" aria-current="page" title="Logout"
      data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="bi bi-box-arrow-right" style="font-size:1.5rem !important"></i>
    </a>
  </li>
</ul>

