

<ul class="nav nav-pills nav-flush flex-column mb-auto text-center flex-column">
  <li class="nav-item">
    <a routerLink="/admin/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Home" data-bs-toggle="tooltip"
      data-bs-placement="right">
      <i class="bi bi-speedometer2" style="font-size:1.5rem !important"></i>
    </a>
  </li>
  <li>
    <a routerLink="/admin/profile" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Profile" data-bs-toggle="tooltip"
      data-bs-placement="right">
      <i class="bi bi-person" style="font-size:1.5rem !important"></i>
    </a>
  </li>

  <li>
    <a routerLink="/admin/blank" routerLinkActive="active" ariaCurrentWhenActive="page"
      class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Blank Page" data-bs-toggle="tooltip"
      data-bs-placement="right">
      <i class="bi bi-file-text" style="font-size:1.5rem !important"></i>
    </a>
  </li>

  <li>
    <a (click)="logout()" class="nav-link py-3 border-bottom rounded-0" href="#" aria-current="page" title="Logout"
      data-bs-toggle="tooltip" data-bs-placement="right">
      <i class="bi bi-box-arrow-right" style="font-size:1.5rem !important"></i>
    </a>
  </li>
</ul>
