



    <div class="carousel-container">
  <div class="carousel-track">
    <div class="carousel-slide">
      <img src="assets/img/fondos/historia.jpg" alt="Imagen 1">
    </div>
    <div class="carousel-slide">
      <img src="assets/img/carrusel/img2.jpg" alt="Imagen 2">
    </div>
    <div class="carousel-slide">
      <img src="assets/img/carrusel/img3.jpg" alt="Imagen 3">
    </div>
  </div>

  <!-- Botones de navegación -->
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>

</div>
    <!-- Sección Escudo -->
  <div class="section fade-in">
    <div class="section-content">
      <div class="section-text">
        <h1 class="title">Sede Social</h1>
        <hr>
        <p>La sede social de <strong>Los Muchachos de Consolación</strong> es un local amplio ubicado en el complejo sociocultural Los Silos y cuenta con un amplio coro de ensayos, recibidor, una sala de reuniones y otra destinada a los enseres.</p>
        <p><a href="https://www.google.com/maps/place/Agrupaci%C3%B3n+Musical+Muchachos+de+Consolaci%C3%B3n/@37.1875915,-5.7903444,17z/data=!3m1!4b1!4m6!3m5!1s0xd127f732df00ed7:0x2021de07e44a1b9!8m2!3d37.1875915!4d-5.7903444!16s%2Fg%2F11rgh31qd3?hl=es&entry=ttu&g_ep=EgoyMDI1MDgxOS4wIKXMDSoASAFQAw%3D%3D">Carr. Utrera, 84, 41710 Utrera, Sevilla</a></p>
    </div>
      <div class="escudo">
        <img src="assets/img/escudo/Relieve.png" alt="Escudo" width="100" height="100">
      </div>
    </div>
  </div>

  <!-- SOBRE MUCHACHOS -->
  <section class="py-5" style="background-color: white;">
    <div class="container">
      <h1 class="text-start mb-4">De tu interés</h1>
      <div class="row g-4">
        <div class="col-md-10">
            <button class="btn btn-black mb-3" (click)="navigateTo('/agrupacion/organigrama')">← Ir a Organigrama</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-black mb-3" (click)="navigateTo('/agrupacion/historia')">Ir a Historia →</button>
        </div>
      </div>
    </div>
  </section>



