<main class="historia-container">

  <!-- Banner principal -->
  <div class="banner">
    <div class="banner-overlay">
      <h1 class="title">Organigrama</h1>
      <h3 class="subtitle"><em>Conoce la directiva de la Agrupación Musical Muchachos de Consolación</em></h3>
    </div>
  </div>

  <!-- Sección Escudo -->
<div class="section fade-in">
  <div class="section-content">
    <div class="sub-section" style="margin-top: 40px;">
      <h1 class="title">Dirección General</h1>
      <hr>
      <div class="team-row">
      <div class="team-member">
        <span class="role">Director:</span>
        <span class="member-name">Gabriel Gómez Delgado</span>
      </div>
      <div class="team-member">
        <span class="role">Subdirector:</span>
        <span class="member-name">Álvaro Bernal García</span>
      </div>
      <div class="team-member">
        <span class="role">Secretaria 1ª:</span>
        <span class="member-name">Adolfo Garrido Hormigo</span>
      </div>
      <div class="team-member">
        <span class="role">Secretario 2ª:</span>
        <span class="member-name"></span>
      </div>
      <div class="team-member">
        <span class="role">Tesorero:</span>
        <span class="member-name"></span>
      </div>
      <div class="team-member">
        <span class="role">Diputada de Enseres:</span>
        <span class="member-name">Paula Montero Dorantes</span>
      </div>
      <div class="team-member">
        <span class="role">Vocal:</span>
        <span class="member-name">
           Antonio Jesús Gómez Hernández, Manuel Ojuez Dominguez, Francisco Blanco Guirado
        </span>
      </div>
    </div>

    
    <!-- Dirección Musical -->
    <div class="sub-section" style="margin-top: 40px;">
      <h1 class="title">Dirección Musical</h1>
        <hr>
      <div class="team-row">
        <div class="team-member">
          <span class="role">Director musical:</span>
          <span class="member-name">Gabriel Gómez Delgado</span>
        </div>
        <div class="team-member">
          <span class="role">Subdirector musical:</span>
          <span class="member-name">Francisco José Barrera Vázquez</span>
        </div>
        <div class="team-member">
          <span class="role">Asesoría Musical:</span>
          <span class="member-name">Antonio Miguel García Bernárdez</span>
        </div>
      </div>
    </div>

    <!-- Dirección Artística -->
    <div class="sub-section" style="margin-top: 40px;">
      <h1 class="title">Dirección Artística</h1>
     <hr>
      <div class="team-row">
        <div class="team-member">
          <span class="role">Director artístico:</span>
          <span class="member-name">Francisco Caro García</span>
        </div>
        <div class="team-member">
          <span class="role">Comunicación Social:</span>
          <span class="member-name">
            Adolfo Garrido Hormigo, Paula Montero Dorantes, Andrés Navarro, Jorge Lecompte Navarro, Jesús Palacios de la Rosa
          </span>
        </div>
      </div>
    </div>
      </div>
  </div>
</div>
<!-- SOBRE MUCHACHOS -->
  <section class="py-5" style="background-color: white;">
    <div class="container">
      <h1 class="text-start mb-4">De tu interés</h1>
      <div class="row g-4">
        <div class="col-md-10">
            <button class="btn btn-black mb-3" (click)="navigateTo('/agrupacion/escudo-uniformidad')">← Ir a Escudo</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-black mb-3" (click)="navigateTo('/agrupacion/sede-social')">Ir a Sede social →</button>
        </div>
      </div>
    </div>
  </section>

</main>
