
.card-text.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.btn-black {
  background-color: #000;
  color: #fff;
  transition: all 0.3s ease;
}
.btn-black:hover {
  background-color: #333;
  color: #ffd700; /* toque dorado al pasar el mouse */
  transform: translateY(-2px);
}