.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

}

.blog-header {
  background: #f2f2f2; /* Fondo gris */
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  text-align: center;
}

.blog-title {
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 0.5rem;
}

.blog-subtitle {
  font-size: 1.5rem;
  color: #555;
}

.noticia {
  margin-bottom: 4rem;
}

.noticia-img {
  width: 100%; /* Ocupa todo el ancho */
  max-height: 500px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.noticia-img:hover {
  transform: scale(1.02);
}

.noticia-info {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.noticia-titulo {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.noticia-subtitulo {
  font-size: 1.3rem;
  color: #666666;
  margin-bottom: 0.5rem;
}

.noticia-fecha {
  display: block;
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 1rem;
}

.noticia-texto {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.noticia-separador {
  width: 80%;
  margin: 3rem auto;
  border: none;
  border-top: 2px solid #ddd;
}
