<div class="blog-header">
  <h1 class="blog-title">Blog</h1>
  <h2 class="blog-subtitle">Últimas noticias y artículos de la Agrupación Musical Muchachos de Consolación</h2>
</div>
<div class="blog-container">
  <div *ngFor="let noticia of noticias; let i = index" class="noticia" @fadeInUp>
    <img [src]="noticia.imagenURL" alt="{{noticia.titulo}}" class="noticia-img">

    <div class="noticia-info">
      <h3 class="noticia-titulo">{{ noticia.titulo }}</h3>
      <h4 class="noticia-subtitulo">{{ noticia.subtitulo }}</h4>
      <span class="noticia-fecha">{{ noticia.fecha | date:'longDate' }}</span>
      <p class="noticia-texto">{{ noticia.texto }}</p>
    </div>

    <hr class="noticia-separador" *ngIf="i < noticias.length - 1">
  </div>
</div>

  <section class="py-5" style="background-color: #f0f0f0;">
    <div class="container">
      <h1 class="text-start mb-4">De tu interés</h1>
      <div class="row g-4">
        <div class="col-md-10">
            <button class="btn btn-black mb-3" (click)="navigateTo('/blog/agenda')">← Ir a Agenda</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-black mb-3" (click)="navigateTo('/blog/semana-santa')">Ir a Semana Santa →</button>
        </div>
      </div>
    </div>
  </section>

