<section class="contact-section" id="contact">
  <div class="contact-container">
    <!-- Mapa -->
    <div class="contact-map animate">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3167.178672094618!2d-5.859451184692846!3d37.164859579898115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126f60bc6e38ab%3A0x7d6b04e1f1d7b8a4!2sCarr.%20Utrera%2C%2084%2C%2041710%20Utrera%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1690000000000!5m2!1ses!2ses"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <!-- Información de contacto -->
    <div class="contact-info animate">
      <h2>Contáctanos</h2>
      <ul>
        <li>
          <strong>Teléfono: </strong> <a href="tel:+34600111222">+34 600 111 222</a>
        </li>
        <li>
          <strong>Dirección: </strong> <a href="https://www.google.com/maps/place/Agrupaci%C3%B3n+Musical+Muchachos+de+Consolaci%C3%B3n/@37.1875915,-5.7903444,17z/data=!3m1!4b1!4m6!3m5!1s0xd127f732df00ed7:0x2021de07e44a1b9!8m2!3d37.1875915!4d-5.7903444!16s%2Fg%2F11rgh31qd3?hl=es&entry=ttu&g_ep=EgoyMDI1MDgxOS4wIKXMDSoASAFQAw%3D%3D">Carr. Utrera, 84, 41710 Utrera, Sevilla</a>
        </li>
        <li>
          <strong>Ciudad:</strong> Utrera, Sevilla
        </li>
        <li>
          <strong>Correo electrónico:</strong> <br>
            · <a href="mailto:am.muchachosdeconsolacion@gmail.com"> am.muchachosdeconsolacion@gmail.com</a><br>
            · <a href="mailto:info@tumarca.com">info@tumarca.com</a>
        </li>
        <li>
          <strong>Horario:</strong> Lunes a Viernes, 09:00 - 18:00
        </li>
      </ul>
    </div>
  </div>
</section>
